
        <table style="width: 100%; max-width: 660px; margin-left: auto; margin-right:auto;font-family: 'Rubik', sans-serif;">
            <%- await  include('header'); -%>
            <tr>
                <td>
                    <table style="width: 100%; font-family: 'Rubik', sans-serif;">
                        <tr>
                            <td style="padding: 20px 24px 60px 24px; font-family: 'Rubik', sans-serif;">
                                <table>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">أهلا!</td>
                                </tr>
                                <tr><td style="font-family: 'Rubik', sans-serif;">تحيات!</td></tr>
                                <tr>                             
                                    <td style="font-family: 'Rubik', sans-serif;">أنت على بعد خطوة واحدة من الوصول إلى حسابك.</td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">نشارك رمز التحقق للوصول إلى حسابك. الرمز صالح لمدة 10 دقائق ويمكن استخدامه مرة واحدة فقط.<br/>
                                        بمجرد التحقق من الرمز ، سيُطلب منك تعيين كلمة مرور جديدة على الفور. هذا لضمان أن يكون لديك فقط حق الوصول إلى حسابك.<br/><br/>
                                    </td>
                                </tr>
                                <tr>    
                                    <td style="font-family: 'Rubik', sans-serif;">OTP الخاص بك: <span style="color: #4D7CFE;font-family: 'Rubik', sans-serif; letter-spacing:2px;"> <%= otp %></span><br/><br/></td>
                                </tr>
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">تنتهي الصلاحية في: 10 دقائق<br/><br/></td>
                                </tr>  
                                <tr>
                                    <td style="font-family: 'Rubik', sans-serif;">    
                                        تحياتي الحارة،<br/>
                                        فريق كنان.
                                    </td>    
                                </tr>    
                                </table>
                            </td>
        
                        </tr>
                        <%- await  include('footer'); -%>                    
                    </table>
                </td>
            </tr>
        </table>